/* make sure your navbar stays white */
.navbar {
  background-color: white !important;
}

/* size your logo in the navbar */
.navbar-logo {
  height: 70px;    /* adjust as needed */
  width: auto;
  margin-left: 0.5rem;
}
